# VS Code
.vscode/

# MacroLibX
MacroLibX/libmlx.so
MacroLibX/objs/
MacroLibX/runtime/Includes/PreCompiled.h.pch

# Libft
libft/.build/
libft/libft.a

# MiniRT
.build/
miniRT

# Valgrind Suppress
valgrind.supp
