# VS Code
.vscode/

# MacroLibX
miniRT/MacroLibX/libmlx.so
miniRT/MacroLibX/objs/
miniRT/MacroLibX/runtime/Includes/PreCompiled.h.pch

# Libft
miniRT/libft/.build/
miniRT/libft/libft.a

# MiniRT
miniRT/.build/
miniRT/miniRT

# MiniRT bonus
miniRT/.build_bonus/
miniRT/miniRT_bonus